.separator {
    color: #98A9AA;
    max-width: 80%;
    margin: 50px auto;

    hr { margin-top: 30px };
}

.separator-title{
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
}
  
.separator-description{
    color: #159da4;
    font-weight: normal;
    font-size: 16px;
}
