// COLOR

$blue : #159da4;
$grey : #98A9AA;

* {
    padding: 0;
    margin: 0;
}
  
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-display: swap;
}
  
section {
    max-width: 72.5%;
    margin: 0 auto;
}


.hero-banner, .biography {
    max-width: none !important;
}
