@media (min-width: 1401px) {

    .skills {
        flex-direction: row;
        align-items: center;
    }

    .software-carousel {
        flex-basis: 100%;
        padding-right: 20px;

        img {
            width: 65%;
        }
    }

    .software-skills {
        flex-basis: 100%;
        padding-left: 20px;
    }

    .list-skills {

        p {
            margin-bottom: 20px;
            margin-left: 25px;
            margin-top: 5px;
            font-size: 18px;
        }
    }
}